.container {
  background-color: #eee;
  margin: 100px 100px 0px 100px;
  display: grid;
  grid-template-columns: 300px 400px auto;
  grid-template-rows: 200px 130px 400px;
  grid-gap: 10px;
}

.item {
  border: 1px solid red;
}
